* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Inter', sans-serif;
}

/* Palette colors */
:root {
    --blue-dark: #00699e;
    --blue-light: #007ebd;
    --black: #000000;
    --light-very-gray: #dadee2;
    --gray: #d9d9d9;
    --white: #ffffff;

    --shadow-header: 0 4px 10px rgb(0 0 0 / 8%);
    --shadow-cards: 0 2px 10px 2px #d4d4d4;
}

html {
    scroll-behavior: smooth;
    transition: all .5s;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    box-shadow: var(--shadow-header);
    padding: .5rem 4rem;
    z-index: 10;
}

header :is(.menu, .close) {
    display: none;
}

header .brand {
    width: calc(100% - 50%);
}

header .wrapper {
    display: flex;
    gap: 2rem;
    align-items: center;
}

header .wrapper #google_translate_element select {
    position: relative;
    top: 7px;
}

ul {
    list-style: none;
}

button,
fieldset,
input,
textarea,
select {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 2.5rem;
    height: 1rem;
}

nav ul .flag,
.flag figcaption {
    display: flex;
    gap: .5rem;
}

nav ul li a {
    position: relative;
    color: var(--black);
    transition: color .5s;
}

nav ul li a:hover {
    color: var(--blue-dark);
}

nav ul li a::after {
    width: 0;
    content: "";
    position: absolute;
    bottom: -1.6rem;
    left: 0;
    transition: width .5s;
    background: var(--blue-dark);
}

nav ul li a:not(ul li .translate):hover::after {
    width: 100%;
    height: 2px;
}

main {
    display: grid;
    justify-content: center;
    gap: 3.75rem;
    padding-top: 10%;
}

main article h2:not(article#about-me h2) {
    text-align: center;
}

article#about-me {
    display: grid;
    grid-template-columns: 30% 60%;
    justify-content: center;
    align-items: center;
    background: rgba(217, 221, 225, 0.25);
    padding: 2rem 0;
}

article#about-me .photo {
    border-radius: 50%;
}

#google_translate_element select {
    border: 1px solid var(--light-very-gray);
    border-radius: 3px;
    padding: 6px 8px;
}

.goog-logo-link,
.goog-te-banner-frame {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
}

#goog-gt-tt,
.goog-te-balloon-frame {
    display: none !important;
}

.goog-text-highlight {
    background: none !important;
    box-shadow: none !important;
}

article#about-me button {
    border-radius: 5px;
    padding: .5rem 1rem;
    font-weight: 500;
    font-size: 1rem;
}

article#about-me section {
    display: grid;
    gap: 1rem;
}

article#about-me button {
    background: var(--blue-dark);
    color: var(--white);
}

article#about-me .btn-contact {
    background: var(--white);
    color: var(--blue-dark);
}

header .close,
header .switch-theme:hover,
article#about-me button:hover,
article#abilities figure:hover,
article#contacts button:hover,
article#projects .cards:hover,
article#projects .slides button:hover,
.btn-top-page:hover {
    cursor: pointer;
}

article#services {
    display: grid;
    justify-content: center;
    gap: 1rem;
}

article#services section {
    display: grid;
    grid-template-columns: repeat(3, 27%);
    justify-content: center;
    gap: 1.5rem;
}

article#services .card {
    display: flex;
    gap: 1rem;
    align-items: center;
    box-shadow: var(--shadow-cards);
    border-radius: 5px;
    padding: 1rem;
}

article#services .card span,
article#abilities span {
    font-size: 3rem;
}

article#services .card h3 {
    margin-bottom: 10px;
    color: var(--blue-light);
}

article#abilities {
    display: grid;
    justify-content: center;
    place-items: center;
    gap: 1.5rem;
}

article#abilities section {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

article#abilities figure {
    display: grid;
    place-items: center;
}

article#projects {
    display: grid;
    justify-content: center;
    gap: 1.5rem;
}

article#projects .swiper {
    width: 1115px;
}

article#projects :is(.swiper, .cards) {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

article#projects .cards {
    width: 550px !important;
    margin-right: 1rem;
    background: var(--white);
    border-radius: 5px;
}

article#projects .cards figure {
    transition: background .5s;
}

article#projects .slides button {
    background: transparent;
}

article#projects .slides figure button {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--blue-light);
    font-weight: 700;
    font-size: 1rem;
    margin-left: auto;
}

article#projects .cards img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

article#projects .cards figcaption {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

article#projects .swiper-pagination-bullet-active {
    background: var(--blue-light);
}

article#projects .cards figcaption img {
    width: 10%;
}

article#projects .cards .container-img {
    display: flex;
    align-items: center;
    gap: .5rem;
}

article.education {
    display: grid;
    gap: 1.5rem;
    justify-content: center;
}

article.education .content {
    display: grid;
    gap: 1rem;
    box-shadow: var(--shadow-cards);
    border-radius: 5px;
    padding: 1rem;
}

article.education .timeline h3 {
    color: var(--blue-dark);
}

.timeline {
    position: relative;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: var(--blue-light);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    right: -83%;
    background-color: var(--blue-dark);
    top: 15px;
    z-index: 1;
}

.left {
    right: 38%;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: -59%;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -18px;
}

.content {
    display: grid;
    gap: 1rem;
    width: max-content;
    padding: 20px 30px;
    box-shadow: var(--shadow-header);
    position: relative;
    border-radius: 6px;
}

article#contacts {
    display: grid;
    justify-content: center;
    gap: 1rem;
}

article#contacts h2 {
    text-align: center;
}

article#contacts form {
    display: grid;
    gap: 1rem;
}

article#contacts fieldset {
    display: grid;
    gap: .5rem;
}

article#contacts :is(input, textarea) {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--light-very-gray);
}

article#contacts textarea {
    resize: none;
    height: 30vh;
}

article#contacts button {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px 1rem;
    color: var(--white);
    background: var(--blue-dark);
    transition: opacity .5s;
}

article#contacts button:disabled {
    opacity: .8;
    cursor: not-allowed;
}

article#contacts button:hover {
    opacity: .9;
}

.btn-top-page {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    clip-path: circle();
    padding: 10px;
    color: var(--white);
    background: var(--blue-dark);
    transform: translateY(100px);
    transition: all .5s;
    z-index: 10;
}

.btn-top-page.show {
    transform: translateY(0);
}

footer {
    display: grid;
    background: var(--black);
    padding: 3rem 1rem 1.25rem;
    gap: 5rem;
}

footer article {
    display: flex;
    justify-content: space-around;
}

footer :is(article, section a, p) {
    color: var(--white);
}

footer section h3 {
    margin-bottom: 1rem;
}

footer section figure {
    display: flex;
    align-items: center;
    gap: .5rem;
}

footer .section-social-medias span {
    font-size: 1.5rem;
    margin-right: 1rem;
}

footer .copyright {
    text-align: center;
}

@media screen and (max-width: 800px) {
    header {
        width: 100vw;
        padding: 0.5rem 1.5rem;
    }

    header .content-brand {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    header :is(.menu, .close) {
        display: block;
    }

    header .close {
        margin-bottom: 3rem;
    }

    header nav {
        width: 70vw;
        position: fixed;
        height: 100%;
        left: -100%;
        top: 0;
        padding: 1.5rem 2rem;
        background: var(--black);
        transition: all .5s;
        z-index: 10;
    }

    header nav.show {
        left: 0;
    }

    nav ul {
        display: grid;
    }

    main {
        position: relative;
    }

    article#about-me {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    article#about-me figure {
        display: flex;
        justify-content: center;
    }

    article#about-me .photo {
        width: calc(100% - 50%);
    }

    article#about-me section {
        width: calc(100vw - 5%);
        text-align: center;
    }

    article#services section {
        grid-template-columns: repeat(1, 50%);
    }

    article#services .card {
        display: grid;
        justify-content: center;
        text-align: center;
    }

    article#abilities section {
        width: calc(100% - 60%);
    }

    .timeline {
        display: grid;
        justify-content: center;
        gap: 1rem;
        right: 5px;
    }

    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding: 0;
    }

    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        top: 35%;
        left: 13px;
    }

    .left {
        left: 0;
    }

    .right {
        left: 0;
    }

    article.education .content {
        width: calc(100% - 20%);
        left: 3.5rem;
    }

    article#contacts form h4 {
        text-align: center;
    }

    article#contacts form {
        justify-content: center;
        grid-template-columns: repeat(1, 58%);
    }

    article#contacts button {
        width: 100%;
    }

    footer {
        align-items: center;
    }

    footer article {
        display: grid;
        text-align: center;
        place-items: center;
        gap: 2rem;
    }

    footer section figure {
        justify-content: center;
    }
}