* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Inter', sans-serif;
}

/* Palette colors */
:root {
    /* Light Mode */
    --blue-dark: #00699e;
    --blue-light: #007ebd;
    --black: #000000;
    --light-very-gray: #dadee2;
    --gray: #d9d9d9;
    --white: #ffffff;

    /* Dark Mode */
    --blue-marine: #4cc7f0;
    --black-opacity: #142129;
    --grey-opacity: #4e5d6b;
    --black-less: #0c0c0c;

    /* Shadows */
    --shadow-header: 0 4px 10px rgb(0 0 0 / 8%);
    --shadow-cards: 0 2px 10px 2px #d4d4d4;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    box-shadow: var(--shadow-header);
    padding: .5rem 4rem;
    z-index: 10;
}

header .brand {
    width: calc(100% - 50%);
}

ul {
    list-style: none;
}

button,
fieldset,
input,
textarea,
select {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 2.5rem;
}

nav ul .flag,
.flag figcaption {
    display: flex;
    gap: .5rem;
}

nav ul li a {
    position: relative;
    color: var(--black);
    transition: color .5s;
}

nav ul li a:hover {
    color: var(--blue-dark);
}

nav ul li a::after {
    width: 0;
    content: "";
    position: absolute;
    bottom: -1.6rem;
    left: 0;
    transition: width .5s;
    background: var(--blue-dark);
}

nav ul li a:not(ul li .translate):hover::after {
    width: 100%;
    height: 2px;
}

main {
    display: grid;
    gap: 3.75rem;
    padding-top: 10%;
}

article#about-me {
    display: grid;
    grid-template-columns: 30% 60%;
    justify-content: center;
    align-items: center;
    background: rgba(217, 221, 225, 0.25);
    padding: 2rem 0;
}

article#about-me button {
    border-radius: 5px;
    padding: .5rem 1rem;
    font-weight: 500;
    font-size: 1rem;
}

article#about-me section {
    display: grid;
    gap: 1rem;
}

article#about-me section button:first-child {
    background: var(--blue-dark);
    color: var(--white);
}

article#about-me button:hover,
article#abilities figure:hover,
article#contacts button:hover,
.btn-top-page:hover {
    cursor: pointer;
}

article#services {
    display: grid;
    justify-content: center;
    place-items: center;
    gap: 1rem;
    margin: 0 1rem;
}

article#services section {
    display: grid;
    grid-template-columns: repeat(3, 27%);
    justify-content: center;
    gap: 1.5rem;
}

article#services .card {
    display: flex;
    gap: 1rem;
    align-items: center;
    box-shadow: var(--shadow-cards);
    border-radius: 5px;
    padding: 1rem;
}

article#services .card span,
article#abilities span {
    font-size: 3rem;
}

article#services .card h3 {
    margin-bottom: 10px;
    color: var(--blue-light);
}

article#abilities {
    display: grid;
    justify-content: center;
    place-items: center;
    gap: 1.5rem;
}

article#abilities section {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

article#abilities figure {
    display: grid;
    place-items: center;
}

article.education {
    display: grid;
    place-items: center;
    gap: 1.5rem;
}

article.education .content {
    display: grid;
    gap: 1rem;
    box-shadow: var(--shadow-cards);
    border-radius: 5px;
    padding: 1rem;
}

article.education .timeline h3 {
    color: var(--blue-dark);
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: var(--blue-light);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    right: -83%;
    background-color: var(--blue-dark);
    top: 15px;
    z-index: 1;
}

/* Place the container to the left */
.left {
    right: 38%;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: -59%;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -18px;
}

/* The actual content */
.content {
    display: grid;
    gap: 1rem;
    width: max-content;
    padding: 20px 30px;
    box-shadow: var(--shadow-header);
    position: relative;
    border-radius: 6px;
}

article#contacts {
    display: grid;
    justify-content: center;
    gap: 1rem;
}

article#contacts h2 {
    text-align: center;
}

article#contacts form {
    display: grid;
    gap: 1rem;
}

article#contacts fieldset {
    display: grid;
    gap: .5rem;
}

article#contacts :is(input, textarea) {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--light-very-gray);
}

article#contacts textarea {
    resize: none;
}

article#contacts button {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px 1rem;
    color: var(--white);
    background: var(--blue-dark);
    transition: opacity .5s;
}

article#contacts button:hover {
    opacity: .9;
}

.btn-top-page {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    clip-path: circle();
    padding: 10px;
    color: var(--white);
    background: var(--blue-dark);
    transform: translateY(100px);
    transition: all .5s;
}

.btn-top-page.show {
    transform: translateY(0);
}

footer {
    display: grid;
    background: var(--black);
    padding: 3rem 1rem 1.25rem;
    gap: 5rem;
}

footer article {
    display: flex;
    justify-content: space-around;
}

footer :is(article, section a, p) {
    color: var(--white);
}

footer section h3 {
    margin-bottom: 1rem;
}

footer section figure {
    display: flex;
    align-items: center;
    gap: .5rem;
}

footer .section-social-medias span {
    font-size: 1.5rem;
    margin-right: 1rem;
}

footer .copyright {
    text-align: center;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timeline to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}