@import url("../style.css");

:root {
    --blue-marine: #4cc7f0;
    --black-opacity: #142129;
    --grey-opacity: #4e5d6b50;
    --black-less: #0c0c0c;
    --grey: #dadada;
}

body.dark {
    background: var(--black-less);
}

body.dark header {
    background: var(--black-opacity);
    color: var(--white);
}

body.dark header nav.show {
    background: var(--black-less);
    color: var(--white);
}

body.dark #google_translate_element select {
    background: var(--black-less);
    border: 1px solid var(--grey) !important;
    border: none;
    color: var(--white);
}

body.dark article#about-me section p,
article#abilities figure {
    color: var(--grey);
}

body.dark article#abilities figure:nth-child(10) {
    color: var(--white) !important;
}

body.dark ul li a:hover,
body.dark article#services .card h3,
body.dark nav ul li a.active,
body.dark footer section h3 {
    color: var(--blue-marine);
}

body.dark article#projects :is(.swiper, .cards) {
    box-shadow: none;
}

body.dark ul li a,
body.dark article#contacts :is(p, label) {
    color: var(--white);
}

body.dark :is(article h2, article#about-me, article#services .card, article#projects .cards, article.education .content) {
    color: var(--white);
}

body.dark nav ul li a::after {
    background: var(--blue-marine);
}

body.dark article#services .card,
body.dark article.education .content {
    box-shadow: none;
    background: var(--grey-opacity);
}

body.dark :is(.left, .right)::before {
    border-color: transparent transparent transparent var(--grey-opacity);
}

body.dark article#contacts :is(form input, textarea) {
    background: var(--grey-opacity);
    border: none;
    color: var(--white);
}

body.dark article#contacts :is(form input, textarea):focus {
    caret-color: var(--blue-marine);
}

body.dark article#projects .cards {
    background: none;
}

body.dark :is(article#about-me, article#projects .cards figure, footer) {
    background: var(--grey-opacity);
}