@import url("../style.css");

:root {
    --blue-marine: #4cc7f0;
    --black-opacity: #142129;
    --grey-opacity: #4e5d6b50;
    --black-less: #0c0c0c;
    --grey: #dadada;
}

html.dark {
    background: var(--black-less);
}

html.dark header {
    background: var(--black-opacity);
    color: var(--white);
}

html.dark header nav.show {
    background: var(--black-less);
    color: var(--white);
}

html.dark nav ul li a.active {
    color: var(--blue-marine);
}

html.dark #google_translate_element select {
    background: var(--black-less);
    border: 1px solid var(--grey) !important;
    border: none;
    color: var(--white);
}

html.dark article#about-me section p,
article#abilities figure {
    color: var(--grey);
}

html.dark article#abilities figure:nth-child(9) {
    color: var(--white) !important;
}

html.dark ul li a:hover,
html.dark article#services .card h3 {
    color: var(--blue-marine);
}

html.dark article#projects :is(.swiper, .cards) {
    box-shadow: none;
}

html.dark ul li a,
html.dark article#contacts :is(p, label) {
    color: var(--white);
}

html.dark :is(article h2, article#about-me, article#services .card, article#projects .cards, article.education .content) {
    color: var(--white);
}

html.dark nav ul li a::after {
    background: var(--blue-marine);
}

html.dark article#services .card,
html.dark article.education .content {
    box-shadow: none;
    background: var(--grey-opacity);
}

html.dark :is(.left, .right)::before {
    border-color: transparent transparent transparent var(--grey-opacity);
}

html.dark article#contacts :is(form input, textarea) {
    background: var(--grey-opacity);
    border: none;
    color: var(--white);
}

html.dark article#contacts :is(form input, textarea):focus {
    caret-color: var(--blue-marine);
}

html.dark :is(article#about-me, article#projects .cards, footer) {
    background: var(--grey-opacity);
}